//- For Jade language reference, see <http://jade-lang.com/reference/>
section
  h1
    img.borderless(src="img/logo.png")
  h2= description
section
  h2 The problem
  img(src="img/problem.png")
section
  h2 Partial solution
  img(src="img/zoopla_info.png")
section
  h2 But!
  img(src="img/leeds_is_big.png")
section
  h2 Loads of data
  img(src="img/pharmacy.png")
section
  h2 Really loads
  img(src="img/place_of_worship.png")
section
  h2 Dating sites
  img(src="img/okcupid.png")
section
  h2 Dating for neighbourhoods?
  img(src="img/dating.png")
section
  h2 Answer questions...
  img.q(src="img/question1.png")
  img.q(src="img/question2.png")
section
  h2 ...Get matches!
section
  h2 Drill down
  img(src="img/drilldown.png")
section
  h2 Get more info on the neighbourhood
  p Zoopla, StreetLife, Freegle, hyperlocal communities...
  img(src="img/hub_harehills.png")
section
  h2 Examples of datasets
  ul
    li Buses, trains, busy roads
    li Pubs, cafés, shops
    li Pharmacy (late night?), doctor
    li Post office, post box
    li Bank, cash machine
    li Places of worship
    li Council data: Neighbourhood networks, public toilets...
    li Library
    li Leisure centre
    li School
section
  h2 The future
  img.logo(src="img/datamill.png")
  img.logo(src="img/datagov.png")
  img.logo(src="img/osm.png")
  ul
    li Housing adaptations
    li Neighbourhood makeup (e.g. politics)
    li Crime stats
    li Homeshare scheme
section
  img(src="img/fin.png")
