//- For Jade language reference, see <http://jade-lang.com/reference/>
section
  h1
    img.borderless(src="img/logo.png")
  h2= description
  aside.notes An idea to make moving to Leeds more accessible
section
  h2 The problem
  img(src="img/problem.png")
  aside.notes Someone new to a big city wants the perfect home but also has questions about services, transport, places of worship, etc.
section
  h2 Partial solution
  img(src="img/zoopla_info.png")
  aside.notes Zoopla provides (some) information about a neighbourhood while you're viewing a property (highlight trains etc)
section
  h2 But!
  img(src="img/leeds_is_big.png")
  aside.notes Leeds is really big, and maybe you don't even know what neighbourhood to look at.
section
  h2 Loads of data
  img(src="img/pharmacy.png")
  aside.notes This is from OpenStreetMap - a map of all the pharmacies in the world entered into the database.
section
  h2 Really loads
  img(src="img/place_of_worship.png")
  aside.notes Here's a breakdown of additional information for places marked as a place of worship.
section
  h2 Dating sites
  img(src="img/okcupid.png")
  aside.notes OkCupid asks people loads of questions and say what's preferred/unacceptable in a partner.
section
  h2 Dating for neighbourhoods?
  img(src="img/dating.png")
  aside.notes The same approach could be applied to finding a new neighbourhood in Leeds. Here's someone dating Harehills.
section
  h2 Answer questions...
  img.q(src="img/question1.png")
  img.q(src="img/question2.png")
  aside.notes Here are some example questions. Not every question has to have the same format. These will match against datasets recorded for each neighbourhood.
section
  h2 ...Get matches!
  img(src="img/results.png")
  aside.notes Then the best neighbourhoods will be mapped out with their percentage match according to the user's preferences.
section
  h2 Drill down
  img(src="img/drilldown.png")
  aside.notes Clicking on a neighbourhood shows why it matches or not, and shows the relevant items on a map.
section
  h2 Get more info on the neighbourhood
  p Zoopla, StreetLife, Freegle, hyperlocal communities...
  img(src="img/hub_harehills.png")
  aside.notes A neighbourhood could link into additional websites that provide a local perspective on the neighbourhood and connect the user with their prospective community.
section
  h2 Examples of datasets
  ul
    li Buses, trains, busy roads
    li Pubs, cafés, shops
    li Pharmacy (late night?), doctor
    li Post office, post box
    li Bank, cash machine
    li Places of worship
    li Council data: Neighbourhood networks, public toilets...
    li Library
    li Leisure centre
    li School
section
  h2 The future
  img.logo(src="img/datamill.png")
  img.logo(src="img/datagov.png")
  img.logo(src="img/osm.png")
  ul
    li Housing adaptations
    li Neighbourhood makeup (e.g. politics)
    li Crime stats
    li Homeshare scheme
section
  img(src="img/fin.png")
  aside.notes Any questions?

